
@font-face
   font-family Sketch
   font-style normal
   src url(Sketch3D.woff)

html
  background-image: url(../images/background2.png)
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


.container {
  background-color: #bda673;
  height: 500px;
  margin: 40px auto;
  width: 500px;
}

h1{
  font-family Sketch
  font-size: 5rem;
  margin: 15px auto;
  text-align: center;
  width: 50%
  font-weight: lighter;
  background-image: radial-gradient(yellow,#9f710a);
  border-radius: 10px;
}

.popuptext {
    // visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.energybar {
  background: #484949;
  height: 40px;
  margin: auto;
  position: relative;
  width: 500px;
}

.cell
  border 1px solid white
  box-sizing border-box
  float left
  height 50px
  width 50px
  text-align: center;
  font-size: 2rem;
  color white

.player
  border:5px solid #12cdf6
  background-color: rgba(87, 172, 209,0.5)

.keybox
  border: 5px solid red;
  background-color: rgba(205, 50, 16,0.5)

.mathbox
  border: 5px solid yellow
  background-color: rgba(247, 239, 37,0.5)

.riddlebox
  border: 5px solid green
  background-color: rgba(22, 195, 50, 0.5)

.timerwrapper {
  height: 60px;
  width: 100%;
  background: #484949;
  position: relative;
  margin: auto;
}

shrinking($item, $duration) {
  $duration = unit($duration, 's');

  {$item} {
    width: 0%;
    height: 40px;
    position: absolute;
    bottom: 0;
    animation: fillBar $duration ease-in infinite;
    background-image: linear-gradient(to right, red, orange,green);
  }

  @keyframes fillBar {
      0% {
        width: 100%;
      }
      100% {
        width: 0%;
      }
  }
}

shrinking('.shrinking',30);
